<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda web</title>
    <link rel="stylesheet" href="../layout/estilostienda.css">
    <link rel="stylesheet" href="../layout/normalize.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../recursos-insumos/logomon.png" alt="logo">
    
            </div>
    
            
            <nav class="navegacion">
                <a href="../layout/index.html" class="navegacion_enlace">Inicio</a>
                <a href="#productosyservicios" class="navegacion_enlace">Productos y Servicios</a>
                <a href="#asociados" class="navegacion_enlace">Asociados</a>
                <a href="#nosotros" class="navegacion_enlace">Nosotros</a>
                <a href="#contactenos" class="navegacion_enlace">Contáctenos</a>

            </nav>
            

        </div>
        

        <div class="overlay">
            <div class="overlay_texto">DESCUBRE LAS OFERTAS QUE SAMSUNG Y COMSES TIENEN PARA TI
                <div class="cbtn">
                    <a class="btnc" href="#tienda">Clic aquí</a>
                </div>
            </div>
            <div class="overlay_imagen">
                <img class="overlay_imagen--1" src="../recursos-insumos/ecomerce.png"  alt="comses">
            </div>

        </div>
        
    </header>
    <section id="tienda">
        <h1 class="t2">TIENDA</h1>
        <div class="contened">
            <h2 class="t3">Categorías</h2>

            <div class="categ">
                <a href="" class="cates c1">Tecnología</a>
                <a href="" class="cates c2">Hogar</a>
                <a href="" class="cates c3">Mujer</a>
                <a href="" class="cates c4">Hombres</a>
                <a href="" class="cates c5">Niños</a>
                
            </div>

            <div class="categ">
                <a href="" class="cates c6">Recreación</a>
                <a href="" class="cates c7">Salud</a>
                <a href="" class="cates c8">Deportes</a>
                <a href="" class="cates c9">Otros</a>
            </div>

        </div>

        <div class="productos">
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
            
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
        </div>

        <div class="productos">
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
            
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
        </div>

        <div class="productos">
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
            
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
        </div>

        <div class="productos">
            <div class="p11">
                <div class="imagenp">
                    <img class="imagenpi" src="../recursos-insumos/1568197734_169376_1568197877_noticia_normal_recorte1.jpg" alt="">
                </div>
                <div class="inforp">
                    <h2 class="inforpt">IPHONE 11 PRO MAX</h2>
                    <p class="inforptp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure dolor beatae excepturi ratione aut exercitationem ipsam </p>
                </div>
                <div class="buy">
                    <div  class="buyi">Lo quiero</div>
                    <p class="buyf">→</p>
                </div>

            </div>
            
        
        </div>
        <br>
        <br>

    </section>

    

    <footer>
        <div class="cfo">
            <div align="center" class="cfo_logo">
                <img class="lcs" src="../recursos-insumos/logocomsesc.jpeg" alt="logocolor">
            </div>
            <div class="cfo_colu">
                <h3 class="lale">Lorem impsun</h3>
                <div class="cfola">
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>

                </div>
                
            </div>
            <div class="cfo_colu">
                <h3 class="lale">Lorem impsun</h3>
                <div class="cfola">
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>
                </div>
                
            </div>
            <div class="cfo_colu">
                <h3 class="lale">Lorem impsun</h3>
                <div class="cfola">
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="#" class="colenl">Lorem Impsun</a>
                </div>
                
            </div>
            <div class="cfo_colu">
                <h3 class="lale">Lorem impsun</h3>
                <div class="cfola">
                    <a href="#" class="colenl">Lorem Impsun</a>
                    <a href="" class="colenl">Lorem Impsun</a>
                    <a href="" class="colenl">Lorem Impsun</a>
                </div>
                
            </div>
        </div>
        <p style="text-align: center; color:#4bc46f; font-weight: 700; font-size: 17px;margin-top:65px;">©2022 Juan Felipe</p>

    </footer>
</body>
</html>